# Ignore heavy model weights
*.pt
*.pth

# Ignore training output folders
runs/
project/model_comparison_results.csv
project/*.html

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.pyc